
.sidebar {
 
  width: 18%;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  background-color: #E7E9EB !important;
}

.mainContent {
  margin-right: 18%;
  padding: 10px;
  overflow-y: auto;
  height: 100vh;
}